# Strings

In [2]:
s = "hello"
print(id(s))
s *= 3
print(s, id(s))

138612154248784
hellohellohello 138612151715120

In [ ]:
x = (1, 2)
id(x)
y = x 
print(id(x), id(y))

'aristotle'
"newton"

'Charles Darwin'

""
len("")

id("hey")

'hey' * 3

str(7)
int('1034')

'long string' * -1

s = 'hey there buddy'
print(
    id(s),
    id('hey there buddy')
)

"that's better"

print('she said "that\'s better"')
print("hey\\s")

print('this\tthat\they')

s = '''\tone
    two
    three'''
print(s)

s2 = """string
is
string"""

print(s2)

'''one
two
three'''

"""one
two
three"""

126330849422208 126330849422208
126330849633648 126330849627568
she said "that's better"
hey\s
this	that	hey
	one
    two
    three
string
is
string

'one\ntwo\nthree'

`kwargs` stands for **k**ey**w**ord arguments

In [85]:
print('a', 'b', 'c', end = '', sep = ', ')
print(' hey there')

species = input()

population = input("enter some number:")

a, b, c hey there

In [80]:
print(population)
population += 1
print(population * 100)

1264
126500